# Sensitive credentials
.env

# Project specific files
projects_cache.json
messages.json

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.flaskenv

# IDEs
.vscode/
.idea/
